<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.test">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/label"
        android:label="Final Year Project"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AtmActivity" />
        <activity android:name=".BankActivity" />
        <activity android:name=".DisplayActivity" />
        <activity android:name=".BikeStandActivity" />
        <activity android:name=".BodyBuildingActivity" />
        <activity android:name=".BusStopActivity" />
        <activity android:name=".app.ChurchesActivity" />
        <activity android:name=".CoffeeShopsActivity" />
        <activity android:name=".FireFightersActivity" />
        <activity android:name=".FoodDeliveryActivity" />
        <activity android:name=".GasStationsActivity" />
        <activity android:name=".HealthCenterActivity" />
        <activity android:name=".HairCareActivity" />
        <activity android:name=".HostelsActivity" />
        <activity android:name=".ParkingLotsActivity" />
        <activity android:name=".PharmacyActivity" />
        <activity android:name=".PublicToiletActivity" />
        <activity android:name=".RoadsActivity" />
        <activity android:name=".SportsActivity" />
        <activity android:name=".ZooActivity" />
        <activity android:name=".PostOfficeActivity" />
        <activity android:name=".StoresActivity" />
        <activity android:name=".FacultyActivity" />
        <activity android:name=".DepartmentActivity"></activity>
    </application>

</manifest>